%h2="Estadística del Partido"
%div.row.game
  .col-md-12.table-responsive.white
    %table.table.table-striped
      %thead
        %tr
          %th=team_image @game.local_team
          %th=@game.local_team.name
          %th="VALORACIÓN"
          %th="PUNTOS"
          %th="ASISTENCIAS"
          %th="REBOTES"
          %th="3PM"
      %tbody
        = render @game.local_team.players
        
      %thead
        %tr
          %th=team_image @game.away_team
          %th=@game.away_team.name
          %th="VALORACIÓN"
          %th="PUNTOS"
          %th="ASISTENCIAS"
          %th="REBOTES"
          %th="3PM"
      %tbody
        = render @game.away_team.players