%h2="Estadística del Partido"
%div.row.game
  .col-md-12.table-responsive.white
    %table.table.table-striped
      %thead
        %tr
          %th
            =team_image @game.local_team
            =@game.local_team.name
          %th="VALORACIÓN"
          %th="PUNTOS"
          %th="ASISTENCIAS"
          %th="REBOTES"
          %th="3PM"
      %tbody
        = render partial: "game_statistic", locals: {team: @game.local_team, game: @game}
        
      %thead
        %tr
          %th
            =team_image @game.away_team
            =@game.away_team.name
          %th="VALORACIÓN"
          %th="PUNTOS"
          %th="ASISTENCIAS"
          %th="REBOTES"
          %th="3PM"
      %tbody
        = render partial: "game_statistic", locals: {team: @game.away_team, game: @game}
