%h2="Estadística del Partidos"
%div.row.prediction
  .col-md-12.table-responsive.white
    %table.table.table-striped
      %thead
        %tr
          %th=team_image @game.local_team
          %th=@game.local_team.name
          %th="VALORACIÓN"
          %th="PUNTOS"
          %th="ASISTENCIAS"
          %th="REBOTES"
          %th="3PM"
      %tbody
        
      %thead
        %tr
          %th=team_image @game.local_team
          %th=@game.local_team.name
          %th="VALORACIÓN"
          %th="PUNTOS"
          %th="ASISTENCIAS"
          %th="REBOTES"
          %th="3PM"
      %tbody
        